<button id="run" class="control btn btn-primary fa fa-play" />
<button id="step-forward" class="control btn btn-default fa fa-step-forward" />
<div class="control-group">
  <button id="decrease-speed" class="control btn btn-default fa fa-backward" />
  <label id="speed" class="control">1X</label>
  <button id="increase-speed" class="control btn btn-default fa fa-forward" />
</div>
<select id="patterns" class="control form-control" />
