<button id="run" class="btn btn-default fa fa-play" />
<button id="decrease-speed" class="btn btn-default fa fa-backward" />
<label id="speed">1X</label>
<button id="increase-speed" class="btn btn-default fa fa-forward" />
