<button id="start" class="btn btn-default">Start</button>
<button id="stop" class="btn btn-default">Stop</button>
<button id="sub-speed" class="btn btn-default"><</button>
<input id="speed" type="text" />
<button id="add-speed" class="btn btn-default">></button>
