<button id="run" class="btn btn-default fa fa-play" />
<button id="sub-speed" class="btn btn-default"><</button>
<input id="speed" type="text" class="form-control" />
<button id="add-speed" class="btn btn-default">></button>
<button id="sub-dimension" class="btn btn-default"><</button>
<input id="dimension" type="text" class="form-control" />
<button id="add-dimension" class="btn btn-default">></button>
